.navbarContainer
{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
    height: 68px;
    width: 100%;
    position: fixed;
}

.linkContainer
{
    display: flex;
    align-items: center;
}

.linkContainer .link:first-of-type
{
    font-weight: 600;
}

.link
{
    text-decoration: none;
    color: #e5e5e5;
    margin-left: 20px;
    font-size: 14px;
}

.navbarLeftSubContainer
{
    display: flex;
}

.navbarRightSubContainer
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}