.carouselContainer
{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin-left: 60px;
    overflow: visible;
}

.carouselHeading
{
    color: #e5e5e5;
}

.carouselSubContainer
{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}